<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task1</title>
    <style>
        th {
            text-align: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>

<body>
    <a href="./index.html" style="text-decoration: none; font-size: larger; color: black;">Back to Home Page</a>
    <table border="1" bordercolor="white" bgcolor="powderblue" cellpadding="1" cellspacing="0" width="600">
        <caption></caption>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>

        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
        </tr>
    </table>
</body>

</html>