ul{
    list-style-type:none;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
    border: 1px solid black;
}

li{
    padding: 10px;
    background-color: lightblue;

}

 li a:hover{
    text-decoration: none;
    background-color: yellow;

}

